.card {
  width: 60vw;
  margin: 0 auto;
  margin-top: 0px;
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.card-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  color: #5b5b5b;
  height: 150px;
  border: 1px solid rgba(208, 208, 208, 0.308);
}

.card-container:hover {
  border: 2px solid rgba(13, 46, 152, 0.33);
}

.card-container .created {
  padding: 2px;
  justify-content: flex-end;
  display: flex;

  color: #8a8989;
}

.card-container p {
  margin: auto;
}
