.map .mapboxgl-popup-content {
  background: transparent;
  box-shadow: none;
}

.map .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  background: transparent;
  border-top-color: transparent;
}
