/*================================================
LOG IN CSS
=================================================*/

.formBox {
  max-width: 95%;
  width: 500px;
  margin: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.lFormBody {
  padding: 40px 80px;
}

.formBox .textFormBody {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  line-height: 27px;
}

.form-container {
  width: 100%;
  margin-top: 3rem;
}

.input-container {
  width: 100%;
  padding: 4px;
  border: 0.01px;
}

.credential-input {
  height: 55px;
  width: 100%;
  box-shadow: none;
  background: none;
  border: 1px solid #cecbcb;
  padding-left: 30px;
  color: #000;
}

.input-container .form-control--first {
  border-radius: 7px 7px 0 0;
  margin-bottom: -9px;
}

.input-container .form-control--last {
  border-radius: 0 0 7px 7px;
  margin-top: 0;
}

.input-container input:focus {
  -moz-border: none;
  border: none;
  border-style: hidden;
  border-color: none;
  box-shadow: 0 0 10px #719ece;
  outline-color: #719ece;
  outline-style: none;
  outline: 0;
}

.formBox .btn-submit {
  height: 55px;
  padding: 2px;
  margin-top: 2rem;
  width: 100%;
  background: var(--btn-blue);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  border: 0;
  font-size: 18px;
  line-height: 44px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}

.err {
  color: red;
}

.login-sectino {
  display: flex;
  margin-top: 5rem;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
}

.login-sectino .form {
  display: flex;
  width: 50%;
  height: 80vh;
}

.login-sectino .form-img-container {
  width: 45%;
  height: calc(100vh - 7rem);
  position: absolute;
  right: 0;
  background-image: url("../../img/bridge.jpg");
  background-position: center center;
  background-size: cover;
}

.login-sectino .form-img-container .img-small-box {
  position: absolute;
  width: 33.33%;
  height: 90%;
  top: 30px;
  left: -50px;
  z-index: -1;
  background: var(--light-blue);
}
