.news-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: calc(5vh) 0;
}

.news-title {
  margin-top: 10rem;
  color: #222;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -1px;
}

.news-container .blog-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 60%;
}
.news-container .blog-container .blog-title-link,
.content-first-link,
.content-second-link,
.content-third-link {
  display: flex;
}

.news-container .blog-container .blog-title-link,
.content-third-link {
  display: flex;
  flex-grow: 2;
}

.news-container .blog-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 2;
  padding: 4rem;
  border: 1px solid rgb(175, 175, 175);
  width: 500px;
  height: 600px;
  margin: 5px;
}

.news-container .blog-content {
  border-radius: 2px;
  background-color: black;
  width: 500px;
  height: 600px;
  margin: 5px;
}

.news-container .content-first {
  display: flex;
  transition: 0.5s;
  border-radius: 2px;
  background-image: url("../../img/Taiwan2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.news-container .content-second {
  display: flex;
  transition: 0.5s;
  border-radius: 2px;
  background-image: url("../../img/Japan.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.news-container a .content-third {
  display: flex;
  flex-grow: 2;
  transition: 0.5s;
  border-radius: 2px;
  background-image: url("../../img/Poland.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.news-container .content-first:hover,
.content-second:hover,
.content-third:hover {
  transform: 1.01;
  overflow: hidden;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.news-container .blog-title-news {
  color: #000;
  font-size: 2rem;
  font-weight: 400;
}

.news-container .blog-title-news > span {
  font-size: 2rem;
  color: #ff0000;
}

.blog-content .content-first-title {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  width: 100%;
  background-color: #f9f9f9;
  text-align: center;
  height: 5rem;
  border-radius: 0 0 2px 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #222;
  letter-spacing: -0.5px;
  text-decoration: none;
}
