@import url("https://fonts.googleapis.com/css?family=Archivo&display=swap");

.main-header {
  display: flex;
  justify-content: center;
  max-width: 1360px;
  margin: auto;
  padding: 1em;
}

.main-header a {
  list-style: none;
  text-decoration: none;
  display: block;
  color: #000;
  margin-right: 34px;
  font-weight: 500;
}
.main_nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

.main_nav .list {
  font-size: 0.845em;
  display: flex;
  margin: 0;
  text-transform: uppercase;
  font-family: "Archivo", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 400;
}

.cBtn {
  background: var(--withe);

  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 4px;
  border: none;
  letter-spacing: 0;
  box-shadow: none;
  font-weight: 100;
  cursor: pointer;
}

.cBtn :hover {
  background: transparent;
  color: var(--withe);
  border-color: var(--withe);
}
