@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
.history-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 6rem;
}

.history-container .history-content {
  display: flex;
  width: 55%;
  margin: 1rem;
}

.history-container .history-picture-full {
  display: flex;
  justify-content: flex-start;
  background-image: url("../../img/history.jpg");
  background-position: center center;
  background-size: cover;
  height: calc(70vh - 7rem);
  width: 100%;
  margin: 1rem;
}

.history-container .article-title-container {
  display: flex;
  justify-content: flex-end;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  letter-spacing: -0.1vw;
  width: 100%;
  margin: 1rem;
}

.history-container .article-container {
  width: 100%;
}

.history-container .article-title {
  display: flex;
  text-align: start;
  font-weight: 100;
}

.history-container .article-subtitle-container {
  display: flex;
  justify-content: flex-start;
}

.history-container .article-subtitle {
  display: flex;
  text-align: start;
  font-family: "Gelasio", serif;
  font-size: 1rem;
  width: 60%;
  margin: 1rem;
  color: #646464;
  letter-spacing: 0.02rem;
}

.history-container .article-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  width: 100%;
  height: 50%;
}

.history-container .article-content .company,
.travel,
.info,
.reviews {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
}

.history-container .article-content .company:hover,
.travel:hover,
.info:hover,
.reviews:hover {
  transform: scale(1.01);
  overflow: hidden;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.history-container .article-content .company,
.info {
  border-right: 1px solid #ccc;
}

.history-container .article-content .company,
.travel {
  border-bottom: 1px solid #ccc;
}

.history-container .article-content a {
  color: #000;
  display: flex;
  justify-content: center;
  align-self: center;
}
.history-container .article-content svg {
  color: #000;
  width: 40px;
  height: 40px;
}
