*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.app {
  text-align: center;
  display: flex;
  justify-content: center;
}

.page {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
}
